$orange: #ffd2c2;
$l-orange: #FFEDE7;
$brown: #544542;
$violet: #735587;
$l-violet: #BEABCA;
$b-grey: #6D6D6D;
$grey: #C4C4C4;
$l-grey: #E5E5E5;
$f1: 0.2777777777777778vw;
$f2: 0.5555555555555556vw;
$f4: 1.111111111111111vw;
$f5: 1.388888888888889vw;
$f6: 1.666666666666667vw;
$f7: 1.944444444444444vw;
$f8: 2.222222222222222vw;
$f9: 2.5vw;
$f10: 2.777777777777778vw;
$f12: 3.333333333333333vw;
$f14: 3.888888888888889vw;
$f16: 4.444444444444444vw;
$f18: 5vw;
$f20: 5.555555555555556vw;
$f21: 5.833333333333333vw;
$f22: 6.111111111111111vw;
$f24: 6.666666666666667vw;
$f25: 6.944444444444444vw;
$f26: 7.222222222222222vw;
$f29: 8.055555555555556vw;
$f30: 8.333333333333333vw;
$f31: 8.611111111111111vw;
$f34: 9.444444444444444vw;
$f35: 9.722222222222222vw;
$f36: 10vw;
$f38: 10.55555555555556vw;
$f40: 11.11111111111111vw;
$f42: 11.66666666666667vw;
$f50: 13.88888888888889vw;
$f52: 14.44444444444444vw;
$f58: 16.11111111111111vw;
$col1: 16.66666666666667vw;
$f60: 16.66666666666667vw;
$f70: 19.44444444444444vw;
$f80: 22.22222222222222vw;
$f82: 22.77777777777778vw;
$f85: 23.61111111111111vw;
$f90: 25vw;
$f100: 27.77777777777778vw;
$f120: 33.33333333333333vw;
$f122: 33.88888888888889vw;
$f135: 38.57142857142857vw;
$f150: 41.66666666666667vw;
$col3: 50vw;
$col4: 66.66666666666667vw;
$col5: 83.33333333333333vw;
$col5-20: calc(83.33333333333333vw - 20px);
$f181: 50.27777777777778vw;
$f230: 63.88888888888889vw;
$f235: 65.27777777777778vw;
$f265: 73.61111111111111vw;
$f300: 83.33333333333333vw;
$f400: 111.1111111111111vw;
$f500: 138.8888888888889vw;