@charset "utf-8";

@import "_mixin", "_var";

@font-face{
  font-family: coreE;
  font-style: normal;
  font-weight: 300;
  src: url("../font/CoreGothicE-3Light.eot");
  src: url("../font/CoreGothicE-3Light.eot#iefix") format("embedded-opentype"),
  url("../font/CoreGothicE-3Light.woff") format("woff"),
  url("../font/CoreGothicE-3Light.woff2") format("woff2"),
  url("../font/CoreGothicE-3Light.otf") format("opentype");
}
@font-face{
  font-family: coreE;
  font-style: normal;
  font-weight: 400;
  src: url("../font/CoreGothicE-4Regular.eot");
  src: url("../font/CoreGothicE-4Regular.eot#iefix") format("embedded-opentype"),
  url("../font/CoreGothicE-4Regular.woff") format("woff"),
  url("../font/CoreGothicE-4Regular.woff2") format("woff2"),
  url("../font/CoreGothicE-4Regular.otf") format("opentype");
}
@font-face{
  font-family: coreE;
  font-style: normal;
  font-weight: 500;
  src: url("../font/CoreGothicE-5Medium.eot");
  src: url("../font/CoreGothicE-5Medium.eot#iefix") format("embedded-opentype"),
  url("../font/CoreGothicE-5Medium.woff") format("woff"),
  url("../font/CoreGothicE-5Medium.woff2") format("woff2"),
  url("../font/CoreGothicE-5Medium.otf") format("opentype");
}

@font-face{
  font-family: coreD;
  font-style: normal;
  font-weight: 300;
  src: url("../font/CoreGothicD-3Light.eot");
  src: url("../font/CoreGothicD-3Light.eot#iefix") format("embedded-opentype"),
  url("../font/CoreGothicD-3Light.woff") format("woff"),
  url("../font/CoreGothicD-3Light.woff2") format("woff2"),
  url("../font/CoreGothicD-3Light.otf") format("opentype");
}
@font-face{
  font-family: coreD;
  font-style: normal;
  font-weight: 400;
  src: url("../font/CoreGothicD-4Regular.eot");
  src: url("../font/CoreGothicD-4Regular.eot#iefix") format("embedded-opentype"),
  url("../font/CoreGothicD-4Regular.woff") format("woff"),
  url("../font/CoreGothicD-4Regular.woff2") format("woff2"),
  url("../font/CoreGothicD-4Regular.otf") format("opentype");
}
@font-face{
  font-family: coreD;
  font-style: normal;
  font-weight: 500;
  src: url("../font/CoreGothicD-5Medium.eot");
  src: url("../font/CoreGothicD-5Medium.eot#iefix") format("embedded-opentype"),
  url("../font/CoreGothicD-5Medium.woff") format("woff"),
  url("../font/CoreGothicD-5Medium.woff2") format("woff2"),
  url("../font/CoreGothicD-5Medium.otf") format("opentype");
}
@font-face{
  font-family: coreD;
  font-style: normal;
  font-weight: 900;
  src: url("../font/CoreGothicD-9Black.eot");
  src: url("../font/CoreGothicD-9Black.eot#iefix") format("embedded-opentype"),
  url("../font/CoreGothicD-9Black.woff") format("woff"),
  url("../font/CoreGothicD-9Black.woff2") format("woff2"),
  url("../font/CoreGothicD-9Black.otf") format("opentype");
}

body, h1, h2, h3, ul, p, button{margin: 0;padding: 0;}
h1, h2, h3{font-size: 100%;font-weight: inherit;}
strong{font-weight: inherit;}
ul{list-style: none;}
img{border: none;vertical-align: middle;}
input{font-family: inherit;color: inherit;}
button{border: none;background: none;font-family: inherit;color: inherit;}
a:link, a:visited, a:hover, a:focus{text-decoration: none;color: inherit;}
header, section, article, footer{display: block;}

.blind-b, .blind-i{width: 1px;height: 1px;overflow: hidden;border: none;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}
.blind-i{display: inline-block;margin: -1px;}
.blind-b{position: absolute;}
.clearfix::after{content: "";display: block;clear: both;}

body{font-family: coreE;font-weight: 400;font-size: 20px;color: $brown;}
#wrap{width: 100%;overflow: hidden;}
#header{position: fixed;width: 100%;height: 52px;padding: 0 30px;background: rgba(255, 255, 255, 0.5);z-index: 1000;
  @include b-box;
  .logo{float: left;}
  .menu{
    float: right;width: 230px;
    > *{display: inline-block;vertical-align: middle;}
    #search_bar {
      padding-top: 10px;
      > *{vertical-align: middle;}
      .typing{
        @include b-box;
        @include b-radius(20px);
        width: 150px;height: 34px;border: 2px solid $orange;}
      .submit_btn{
        border: none;background: url("../images/common/i-zoom.png") no-repeat top left;width: 34px;height: 34px;}
    }
  }
  .menu_btn{ 
    position: relative;width: 34px;height: 34px;
    @at-root #header #nav .menu_btn{position: absolute;top: 0px;right: 30px;}
    .line{
      @include t-sition(all 0.3s);
      display: inline-block;position: absolute;width: 34px;height: 2px;border-radius: 8px;background: $brown;}
    .top{top: 9px;}
    .mid{top: 22px;}
    .btm{top: 35px;}
    &.act_left{
      .line{width: 38px;}
      .top{
        @include t-form(rotate(45deg));
        top: 29px;
      }
      .mid{opacity: 0;}
      .btm{
        @include t-form(rotate(-45deg));
        top: 29px;
      }
    }
  }
  #nav{display: none;
    position: fixed;top: 0;right: 0;left: 100%;bottom: 0;width: 80%;overflow-y: auto;
    &::before{content: "";position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0, 0, 0, .7);}
    .nav_inner{position: relative;padding: 7px 0 20px 0;background: #fff;
      >p, >span{display: inline-block;padding-bottom: 21px;font-size: 16px;font-weight: 300;padding-left: 20px;line-height: 42px;
        strong{font-weight: 500;}
        img{width: 34px;margin-left: 8px;}}
      .private{width: 265px;height: 82px;margin: 0 auto 25px; 
        li{
          @include b-radius(10px);
          float: left;width: 80px;height: 80px;font-family: coreD;font-weight: 500;font-size: 14px;color: $violet;text-align: center;border: 2px solid $l-violet;
          & + li{margin-left: 6px;}
          img{width: 40px;padding-top: 10px;}
          span{display: block;padding-top: 6px;}
          a{display: block;}
        }
      }
      #gnb{
        @include b-radius(30px 0 0 0);
        content: "";display: block;clear: both;padding: 24px 0;color: #fff;background: linear-gradient(135deg, #826b90, #916a5b);
        a{display: inline-block;line-height: 34px;}
        >li{margin-bottom: 16px;}
        >li > a{position: relative;padding: 10px 0;text-indent: 40px;font-family: coreD;font-weight: 600;font-size: 20px;}
        //가상요소
        >li:not(.direct-link) > a::after{
          @include t-sition(all, 0.5s);
          content: "";position: absolute;right: -60px;top: calc(50% - 3px);border-top: 7px solid rgba(255, 255, 255, 0.8);border-left: 5px solid transparent;border-right: 5px solid transparent;}
        >li.on:not(.direct-link) > a::after{
          @include t-form(rotate(180deg));
        }
        li ul{margin-bottom: 30px;}
        li.on ul{display: block;}
        li ul li a{padding: 10px 58px;width: 100%;font-family: coreE;font-weight: 300;font-size: 16px;}

        >li >a:focus, >li >a:hover, >li.on >a{text-decoration: underline;}
        li ul li a:focus, li ul li a:hover{
          @include bg-g(90deg, rgba(255, 210, 194, 0.2), transparent);
        }
      }
      .admin{
        strong{display: block;width: 80px;margin: 30px 0 10px 50px;font-weight: 400;font-size: 16px;}
        strong + p, >strong + span {display: inline-block;margin-left: 30px;font-size: 14px;}
        strong + p {line-height: 24px;}
      }
    }
  }
}

article{margin: 90px 20px 85px;}
#cnt_main{
  margin: 0;
  .swiper-container{width: 100%;height: 100vh;
    &.top{
      .intro1{}
      .swiper-pagination{top: 50%;right: 8%;}
    }
    &.mid{
      .intro2{}
      .swiper-pagination{top: 60%;right: 8%;}
    }
    &.btm{
      .intro3{}
      .swiper-pagination{top: 70%;right: 8%;}
    }
      .swiper-slide{position: relative;background: no-repeat top center;background-size: cover;
        span, strong{position: absolute;font-weight: 400;}
        span{font-size: 40px;}
        strong{font-size: 24px;}
      }
      .intro1{
        background-image: url("../images/main/poster1.jpg");
        strong{top: 12%;left: 8%;}
        span{top: 28%;left: 11%;}
        span::after{content: "";position: absolute;width: 140px;height: 1.3px;background: $brown;left: -2px;bottom: -4px;}
      }
      .intro2{
        background-image: url("../images/main/poster2.jpg");
        strong{
          @include t-form(translateY(-50%));
          top: 50%;right: 8%;text-align: right;}
        span{top: 30%;right: 11%;}
        span::after{content: "";position: absolute;width: 140px;height: 1.3px;background: $brown;right: -2px;bottom: -4px;}
      }
      .intro3{
        background-image: url("../images/main/poster3.jpg");
        strong{
          left: 8%;bottom: 9%;}
        span{left: 8%;bottom: 28%;}
        span::after{content: "";position: absolute;width: 140px;height: 1.3px;background: $brown;left: -2px;bottom: -4px;}
      }
      #controller{
        .swiper-pagination-bullet{
          background: $violet;z-index: 10000;
        }
        .play_stop{
          @include t-form(translateY(-50%));
          position: absolute;top: 50%;left: -120px;width: 181px;height: 181px;background: url("../images/main/btn_cir.png") no-repeat center;z-index: 1000;
        img{width: 14px;height: 25px;padding-left: 100px;}
        }
      }
    }
    #toolbar{position: fixed;bottom: 5%;right: 8%;z-index: 900;
      a{
        @include b-radius(50%);
        display: block;width: 70px;height: 70px;line-height: 70px;font-family: coreD;font-size: 16px;font-weight: 500;color: $brown;text-align: center;border: 2px solid;
      }
    ul li:nth-child(1) a{background: $orange;border-color: #fff;}
    ul li:nth-child(2) a{background: #fff;border-color: $orange;}
  }
}

#cnt_company{
    height: 300px;
  p span{
    @include bg-g(90deg, $orange, $l-violet);
    display: inline-block;padding: 0 40px 0 10px;margin-bottom: 3px;font-weight: 400;
  }
  ul li{display: float;
    a{
      @include b-radius(16px);
      @include bgsize(cover);
      display: inline-block;width: 150px;height: 100px;border: 1px solid $l-violet;background: no-repeat center;font-family: coreD;font-size: 20px;line-height: 100px;text-align: center;font-weight: 900;color: #000;text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;}
    a:nth-child(1){
      background-image: url("../images/main/menu_btn_h.jpg");
    }
  }
}

@media
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 2dppx),
screen and (min-resolution: 192dpi)
{
  .intro1{background-image: url("../images/main/poster1x2.jpg");}
  .intro2{background-image: url("../images/main/poster2x2.jpg");}
  .intro3{background-image: url("../images/main/poster3x2.jpg");}
  #controller .play_stop{background-image: url("../images/main/btn_cirx2.png");}
}

@media
screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min-resolution: 3dppx),
screen and (min-resolution: 288dpi)
{
  .intro1{background-image: url("../images/main/poster1x3.jpg");}
  .intro2{background-image: url("../images/main/poster2x3.jpg");}
  .intro3{background-image: url("../images/main/poster3x3.jpg");}
  #controller .play_stop{background-image: url("../images/main/btn_cirx3.png");}
}