@charset "utf-8";

@import "_mixin", "_var";

@font-face{
  font-family: coreE;
  font-style: normal;
  font-weight: 300;
  src: url("../font/CoreGothicE-3Light.eot");
  src: url("../font/CoreGothicE-3Light.eot#iefix") format("embedded-opentype"),
  url("../font/CoreGothicE-3Light.woff") format("woff"),
  url("../font/CoreGothicE-3Light.woff2") format("woff2"),
  url("../font/CoreGothicE-3Light.otf") format("opentype");
}
@font-face{
  font-family: coreE;
  font-style: normal;
  font-weight: 400;
  src: url("../font/CoreGothicE-4Regular.eot");
  src: url("../font/CoreGothicE-4Regular.eot#iefix") format("embedded-opentype"),
  url("../font/CoreGothicE-4Regular.woff") format("woff"),
  url("../font/CoreGothicE-4Regular.woff2") format("woff2"),
  url("../font/CoreGothicE-4Regular.otf") format("opentype");
}
@font-face{
  font-family: coreE;
  font-style: normal;
  font-weight: 500;
  src: url("../font/CoreGothicE-5Medium.eot");
  src: url("../font/CoreGothicE-5Medium.eot#iefix") format("embedded-opentype"),
  url("../font/CoreGothicE-5Medium.woff") format("woff"),
  url("../font/CoreGothicE-5Medium.woff2") format("woff2"),
  url("../font/CoreGothicE-5Medium.otf") format("opentype");
}

@font-face{
  font-family: coreD;
  font-style: normal;
  font-weight: 300;
  src: url("../font/CoreGothicD-3Light.eot");
  src: url("../font/CoreGothicD-3Light.eot#iefix") format("embedded-opentype"),
  url("../font/CoreGothicD-3Light.woff") format("woff"),
  url("../font/CoreGothicD-3Light.woff2") format("woff2"),
  url("../font/CoreGothicD-3Light.otf") format("opentype");
}
@font-face{
  font-family: coreD;
  font-style: normal;
  font-weight: 400;
  src: url("../font/CoreGothicD-4Regular.eot");
  src: url("../font/CoreGothicD-4Regular.eot#iefix") format("embedded-opentype"),
  url("../font/CoreGothicD-4Regular.woff") format("woff"),
  url("../font/CoreGothicD-4Regular.woff2") format("woff2"),
  url("../font/CoreGothicD-4Regular.otf") format("opentype");
}
@font-face{
  font-family: coreD;
  font-style: normal;
  font-weight: 500;
  src: url("../font/CoreGothicD-5Medium.eot");
  src: url("../font/CoreGothicD-5Medium.eot#iefix") format("embedded-opentype"),
  url("../font/CoreGothicD-5Medium.woff") format("woff"),
  url("../font/CoreGothicD-5Medium.woff2") format("woff2"),
  url("../font/CoreGothicD-5Medium.otf") format("opentype");
}
@font-face{
  font-family: coreD;
  font-style: normal;
  font-weight: 900;
  src: url("../font/CoreGothicD-9Black.eot");
  src: url("../font/CoreGothicD-9Black.eot#iefix") format("embedded-opentype"),
  url("../font/CoreGothicD-9Black.woff") format("woff"),
  url("../font/CoreGothicD-9Black.woff2") format("woff2"),
  url("../font/CoreGothicD-9Black.otf") format("opentype");
}

body, h1, h2, h3, ul, p, button{margin: 0;padding: 0;}
h1, h2, h3{font-size: 100%;font-weight: inherit;}
strong{font-weight: inherit;}
ul{list-style: none;}
img{border: none;vertical-align: middle;}
input{font-family: inherit;color: inherit;}
button{border: none;background: none;font-family: inherit;color: inherit;}
a:link, a:visited, a:hover, a:focus{text-decoration: none;color: inherit;}
header, section, article, footer{display: block;}
address{font-style: normal;}

.blind-b, .blind-i{width: 1px;height: 1px;overflow: hidden;border: none;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}
.blind-i{display: inline-block;margin: -1px;}
.blind-b{position: absolute;}
.clearfix::after{content: "";display: block;clear: both;}

body{font-family: coreE;font-weight: 400;font-size: $f20;color: $brown;
  h2{font-weight: 500;margin: 0 auto 10px;}
}
#wrap{width: 100vw;overflow: hidden;}
#header{position: fixed;width: 100vw;height: 52px;padding: 0 30px;background: rgba(255, 255, 255, 0.5);z-index: 1000;
  @include b-box;
  .logo{
    @include t-form(translateY(-50%));
    top: 50%;position: absolute;float: left;}
  .menu{
    float: right;width: 230px;
    > *{display: inline-block;vertical-align: middle;}
    #search_bar {
      padding-top: 10px;
      > *{vertical-align: middle;}
      .typing{
        @include b-box;
        @include b-radius(20px);
        width: 150px;height: 34px;border: 2px solid $orange;}
      .submit_btn{
        border: none;background: url("../images/common/i-zoom.png") no-repeat top left;width: 34px;height: 34px;}
    }
  }
  .menu_btn{ 
    position: relative;width: 34px;height: 34px;
    @at-root #header #nav .menu_btn{position: absolute;top: 0px;right: 30px;}
    .line{
      @include t-sition(all 0.3s);
      display: inline-block;position: absolute;width: 34px;height: 2px;border-radius: 8px;background: $brown;}
    .top{top: 9px;}
    .mid{top: 22px;}
    .btm{top: 35px;}
    &.act_left{
      .line{width: 38px;}
      .top{
        @include t-form(rotate(45deg));
        top: 29px;
      }
      .mid{opacity: 0;}
      .btm{
        @include t-form(rotate(-45deg));
        top: 29px;
      }
    }
  }
  #nav{display: none;
    position: fixed;top: 0;right: 0;left: 100%;bottom: 0;width: 80%;overflow-y: auto;
    &::before{content: "";position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0, 0, 0, .7);}
    .nav_inner{position: relative;padding: 7px 0 20px 0;background: #fff;
      >p, >span{display: inline-block;padding-bottom: 21px;font-size: 16px;font-weight: 300;padding-left: 20px;line-height: 42px;
        strong{font-weight: 500;}
        img{width: 34px;margin-left: 8px;}}
      .private{width: 265px;height: 82px;margin: 0 auto 25px; 
        li{
          @include b-radius(10px);
          float: left;width: 80px;height: 80px;font-family: coreD;font-weight: 500;font-size: 14px;color: $violet;text-align: center;border: 2px solid $l-violet;
          & + li{margin-left: 6px;}
          img{width: 40px;padding-top: 10px;}
          span{display: block;padding-top: 6px;}
          a{display: block;}
        }
      }
      #gnb{
        @include b-radius(30px 0 0 0);
        content: "";display: block;clear: both;padding: 24px 0;color: #fff;background: linear-gradient(135deg, #826b90, #916a5b);
        a{display: inline-block;line-height: 34px;}
        >li{margin-bottom: 16px;}
        >li > a{position: relative;padding: 10px 0;text-indent: 40px;font-family: coreD;font-weight: 600;}
        //가상요소
        >li:not(.direct-link) > a::after{
          @include t-sition(all, 0.5s);
          content: "";position: absolute;right: -60px;top: calc(50% - 3px);border-top: 7px solid rgba(255, 255, 255, 0.8);border-left: 5px solid transparent;border-right: 5px solid transparent;}
        >li.on:not(.direct-link) > a::after{
          @include t-form(rotate(180deg));
        }
        li ul{margin-bottom: 30px;}
        li.on ul{display: block;}
        li ul li a{padding: 10px 58px;width: 100%;font-family: coreE;font-weight: 300;font-size: 16px;}

        >li >a:focus, >li >a:hover, >li.on >a{text-decoration: underline;}
        li ul li a:focus, li ul li a:hover{
          @include bg-g(90deg, rgba(255, 210, 194, 0.2), transparent);
        }
      }
      .admin{
        strong{display: block;width: 80px;margin: 30px 0 10px 50px;font-weight: 400;font-size: 16px;}
        strong + p, >strong + span {display: inline-block;margin-left: 30px;font-size: 14px;}
        strong + p {line-height: 24px;}
      }
    }
  }
}

article{margin: 90px 20px 85px;}
#cnt_main{
  margin: 0;
  .swiper-container{width: 100vw;height: 100vh;
    .swiper-pagination{
      left: 35%;top: 32%;
    }
    &.top{
      .intro1{
        img{width: 100vw;}
      }
    }
    &.mid{
      .intro2{
        img{
          position: absolute;top: 21%;left: 0;
        }
      }
      #controller .swiper-pagination{right: 20%;top: 34%;}
    }
    &.btm{
      .intro3{
        img{
          position: absolute;bottom: 0;left: 0;
        }
      }
      #controller .swiper-pagination{left: 32%;top: 68%;}
    }
      .swiper-slide{position: relative;background: no-repeat top center;background-size: cover;
        span, strong{position: absolute;}
        span{font-size: 11.11111111111111vw;}
        span::after{content: "";position: absolute;bottom: -4px;width: 38.88888888888889vw;height: 0.3611111111111111vh;background: $brown;}
        strong{font-size: 6.666666666666667vw;}
      }
      .intro1{
        background-image: url("../images/main/poster1.jpg");
        strong{left: 8%;top: 12%;}
        span{left: 11%;top: 28%;}
        span::after{left: -2px;}
      }
      .intro2{
        background-image: url("../images/main/poster2.jpg");
        strong{
          @include t-form(translateY(-50%));
          top: 50%;right: 8%;text-align: right;}
        span{right: 11%;top: 30%;}
        span::after{right: 2px;}
      }
      .intro3{
        background-image: url("../images/main/poster3.jpg");
        strong{
          left: 8%;bottom: 9%;}
        span{left: 8%;bottom: 28%;}
        span::after{left: -2px;}
      }
      #controller{
        .swiper-pagination-bullet{margin: 0 2px;
          width: 8px;height: 8px;background: $l-violet;
          border: 2px solid #fff;opacity: 1;}
        .swiper-pagination-bullet-active{width: 12px;height: 12px;background: $violet;}
        .play_stop{
          @include t-form(translateY(-50%));
          position: absolute;top: 50%;left: -120px;width: 50.27777777777778vw;height: 50.27777777777778vh;background: url("../images/main/btn_cir.png") no-repeat center;z-index: 1000;
        img{width: 14px;height: 25px;padding-left: 100px;}
        }
      }
    }
    #toolbar{position: fixed;bottom: 5%;right: 8%;z-index: 900;
      a{
        @include b-radius(50%);
        display: block;width: 70px;height: 70px;line-height: 70px;font-family: coreD;font-size: 16px;font-weight: 500;color: $brown;text-align: center;border: 2px solid;
      }
    ul li:nth-child(1) a{background: $orange;border-color: #fff;}
    ul li:nth-child(2) a{background: #fff;border-color: $orange;}
  }
}

#cnt_company{
    height: 300px;
  p {
    .talk{
    @include bg-g(90deg, $orange, $l-violet);
    display: inline-block;margin-bottom: 3px;font-weight: 400;
    }
    .talk:nth-child(2){
      padding: 0 50px 0 10px;
    }
    .talk:nth-child(4){
      padding: 0 10px 0 20px;
    }
    .quotation{
      display: inline-block;margin: 0 0 3px -1px;padding: 1px 0 3px;line-height: 1;background: $orange;font-size: 24px;font-weight: 500;
    }
    .quotation:last-child{
      background: $l-violet;padding-right: 40px;margin-left: -1px;
    }
  }
  ul{display: block;clear: both;margin: 30px auto 0;width: 316px; //검토
    li{float: left;margin: 2px;
      a{
        @include b-radius(16px);
        background: no-repeat center; //cover때문인지 더 우선 배열되어야 함.
        @include bgsize(cover);
        display: inline-block;width: 150px;height: 100px;border: 2px solid $l-violet;font-family: coreD;font-size: $f20;line-height: 100px;text-align: center;font-weight: 900;color: #000;text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;}
      &:nth-child(1) a{
        background-image: url("../images/main/menu_btn_w.jpg");
      }
      &:nth-child(2) a{
        background-image: url("../images/main/menu_btn_h.jpg");
      }
      &:nth-child(3) a{
        background-image: url("../images/main/menu_btn_x.jpg");
      }
      &:nth-child(4) a{
        background-image: url("../images/main/menu_btn_j.jpg");
      }
    }
  }
}

#cnt_best-review{
  h2{width: 77px;}
}

#cnt_now_event{
  margin-left: 0;margin-bottom: 50px;
  h2{position: relative;width: 63px;padding-left: 20px;
    &::before{
      @include bg-g(135deg, $orange, $l-violet);
      @include b-radius(40px);
      content: "";position: absolute;z-index: -10;top: -7px;left: -116px;width: 340px;height: 195px;}}
  .swiper-container{
    padding-bottom: 30px;
    .swiper-slide{
      @include b-radius(0 40px 40px 0);
      width: 340px;height: 170px;background: right no-repeat;
        p{padding: 105px 0 0 30px;line-height: 1.2;font-size: $f20;color: #fff;text-shadow: 0 0 4px #000;}
      
      &.event1 {background-image: url("../images/main/s-event1.png");
        span{display: inline-block;font-weight: 300;font-size: 16px;}}
      &.event2 {background-image: url("../images/main/s-event2.png");}
      &.event3 {background-image: url("../images/main/s-event3.png");
        span{font-size: $f20;}
        p{padding: 90px 0 0 40px;font-size: 16px;font-weight: 300;}
      }
    }
    .swiper-pagination{
      position: absolute;right: 20px;bottom: 0;
      .swiper-pagination-bullet{
        @include b-radius(50%);
        width: 10px;height: 10px;margin: 3px;background: $l-violet;opacity: 1;
      }
      .swiper-pagination-bullet-active{
        @include b-radius(20px);
        @include t-sition (width 0.3s);
        width: 25px;height: 10px;background: $violet;}
    }
    .swiper-button-next::after, .swiper-button-prev::after{display: none;}
    .swiper-button-prev, .swiper-button-next{
      top: calc(50% - 8px);}
    .swiper-button-prev{background-image: url("../images/main/i-prev.png");}
    .swiper-button-next{background-image: url("../images/main/i-next.png");}
  }
}

#cnt_social{
  h2{margin: 0 0 10px 0;}
  >p{font-weight: 300;font-size: 16px;}
  ul {
    li{float: left;}
  }
}

#footer{
  @include bg-g(150deg, $l-orange, $l-violet);
  @include b-radius(20px 20px 0 0);
  width: 100vw;height: 350px; padding: 26px 53px;font-family: coreD;font-size: 12px;box-sizing: border-box;
}

@media
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 2dppx),
screen and (min-resolution: 192dpi)
{
  .intro1{background-image: url("../images/main/poster1x2.jpg");}
  .intro2{background-image: url("../images/main/poster2x2.jpg");}
  .intro3{background-image: url("../images/main/poster3x2.jpg");}
  #controller .play_stop{background-image: url("../images/main/btn_cirx2.png");}
}

@media
screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min-resolution: 3dppx),
screen and (min-resolution: 288dpi)
{
  .intro1{background-image: url("../images/main/poster1x3.jpg");}
  .intro2{background-image: url("../images/main/poster2x3.jpg");}
  .intro3{background-image: url("../images/main/poster3x3.jpg");}
  #controller .play_stop{background-image: url("../images/main/btn_cirx3.png");}
}