@charset "utf-8";

@import "_mixin", "_var";

@font-face{
  font-family: coreE;
  font-style: normal;
  font-weight: 300;
  src: url("../font/CoreGothicE-3Light.eot");
  src: url("../font/CoreGothicE-3Light.eot#iefix") format("embedded-opentype"),
  url("../font/CoreGothicE-3Light.woff") format("woff"),
  url("../font/CoreGothicE-3Light.woff2") format("woff2"),
  url("../font/CoreGothicE-3Light.otf") format("opentype");
}
@font-face{
  font-family: coreE;
  font-style: normal;
  font-weight: 400;
  src: url("../font/CoreGothicE-4Regular.eot");
  src: url("../font/CoreGothicE-4Regular.eot#iefix") format("embedded-opentype"),
  url("../font/CoreGothicE-4Regular.woff") format("woff"),
  url("../font/CoreGothicE-4Regular.woff2") format("woff2"),
  url("../font/CoreGothicE-4Regular.otf") format("opentype");
}
@font-face{
  font-family: coreE;
  font-style: normal;
  font-weight: 500;
  src: url("../font/CoreGothicE-5Medium.eot");
  src: url("../font/CoreGothicE-5Medium.eot#iefix") format("embedded-opentype"),
  url("../font/CoreGothicE-5Medium.woff") format("woff"),
  url("../font/CoreGothicE-5Medium.woff2") format("woff2"),
  url("../font/CoreGothicE-5Medium.otf") format("opentype");
}

@font-face{
  font-family: coreD;
  font-style: normal;
  font-weight: 300;
  src: url("../font/CoreGothicD-3Light.eot");
  src: url("../font/CoreGothicD-3Light.eot#iefix") format("embedded-opentype"),
  url("../font/CoreGothicD-3Light.woff") format("woff"),
  url("../font/CoreGothicD-3Light.woff2") format("woff2"),
  url("../font/CoreGothicD-3Light.otf") format("opentype");
}
@font-face{
  font-family: coreD;
  font-style: normal;
  font-weight: 400;
  src: url("../font/CoreGothicD-4Regular.eot");
  src: url("../font/CoreGothicD-4Regular.eot#iefix") format("embedded-opentype"),
  url("../font/CoreGothicD-4Regular.woff") format("woff"),
  url("../font/CoreGothicD-4Regular.woff2") format("woff2"),
  url("../font/CoreGothicD-4Regular.otf") format("opentype");
}
@font-face{
  font-family: coreD;
  font-style: normal;
  font-weight: 500;
  src: url("../font/CoreGothicD-5Medium.eot");
  src: url("../font/CoreGothicD-5Medium.eot#iefix") format("embedded-opentype"),
  url("../font/CoreGothicD-5Medium.woff") format("woff"),
  url("../font/CoreGothicD-5Medium.woff2") format("woff2"),
  url("../font/CoreGothicD-5Medium.otf") format("opentype");
}

body, h1, h2, h3, ul, p, button{margin: 0;padding: 0;}
h1, h2, h3{font-size: 100%;}
ul{list-style: none;}
img{border: none;vertical-align: middle;}
input{font-family: inherit;color: inherit;}
button{border: none;background: none;font-family: inherit;color: inherit;}
a:link, a:visited, a:hover, a:focus{text-decoration: none;color: inherit;}
header, section, article, footer{display: block;}

.blind-b, .blind-i{width: 1px;height: 1px;overflow: hidden;border: none;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}
.blind-i{display: inline-block;margin: -1px;}
.blind-b{position: absolute;}
.clearfix::after{content: "";display: block;clear: both;}

body{font-family: coreE;font-weight: 400;font-size: 20px;color: $brown;}
#wrap{width: 100%;overflow: hidden;}
#header{position: fixed;width: 100%;height: 48px;padding: 0 30px;background: rgb(255, 160, 176);z-index: 1000;
  @include b-box;
  .logo{float: left;}
  .menu{
    float: right;width: 230px;background: red; 
    > *{display: inline-block;vertical-align: middle;}
    #search_bar {
      padding-top: 7px;
      > *{vertical-align: middle;}
      .typing{
        @include b-box;
        @include b-radius(20px);
        width: 150px;height: 34px;border: 2px solid $orange;}
      .submit_btn{
        border: none;background: url("../images/common/i-zoom.png") no-repeat top left;width: 34px;height: 34px;}
    }
    #menu_btn{ 
      width: 34px;height: 34px;
      .btn_wrap{position: relative;
        span{display: inline-block;position: absolute;width: 34px;height: 2px;border-radius: 8px;background: $brown;}
        span:nth-child(1){top: 7px;}
        span:nth-child(2){top: 20px;}
        span:nth-child(3){top: 33px;}
      }
    }
  }
  #navigation{
    position: fixed;background: #fff;top: 0;right: 0;bottom: 0;width: 80%;padding-top: 14px;overflow-y: auto;
    >p, >span{display: inline-block;padding-bottom: 21px;font-size: 18px;font-weight: 300;padding-left: 32px;line-height: 42px;
      strong{font-weight: 500;}
      img{width: 34px;margin-left: 10px;}}
    .private{width: 265px;height: 82px;margin: 0 auto 25px; 
      li{
        @include b-radius(10px);
        float: left;width: 80px;height: 80px;font-family: coreD;font-weight: 500;font-size: 14px;color: $violet;text-align: center;border: 2px solid $l-violet;
        & + li{margin-left: 6px;}
        img{width: 40px;padding-top: 10px;}
        span{display: block;padding-top: 6px;}
      }
    }
    #gnb{
      @include b-radius(30px 0 0 0);
      content: "";display: block;clear: both;padding: 24px 0 0 40px;color: #fff;background: linear-gradient(135deg, #826b90, #916a5b);
      a{display: inline-block;line-height: 34px;}
      >li > a{margin-bottom: 16px;font-family: coreD;font-weight: 600;font-size: 20px;}
      li ul{display: none;margin-bottom: 30px;}
      li ul li a{font-family: coreE;font-weight: 300;font-size: 16px;padding: 10px 18px;}
    }
    > strong{display: block;width: 80px;margin: 30px 40px 10px;font-weight: 400;font-size: 18px;}
    > strong + p, >strong + span {font-size: 16px;}
  }
}
//??? margin 0 auto되는 조건, text-align: center되는 조건..