@font-face {
  font-family: coreE;
  font-style: normal;
  font-weight: 300;
  src: url("../font/CoreGothicE-3Light.eot");
  src: url("../font/CoreGothicE-3Light.eot#iefix") format("embedded-opentype"), url("../font/CoreGothicE-3Light.woff") format("woff"), url("../font/CoreGothicE-3Light.woff2") format("woff2"), url("../font/CoreGothicE-3Light.otf") format("opentype"); }
@font-face {
  font-family: coreE;
  font-style: normal;
  font-weight: 400;
  src: url("../font/CoreGothicE-4Regular.eot");
  src: url("../font/CoreGothicE-4Regular.eot#iefix") format("embedded-opentype"), url("../font/CoreGothicE-4Regular.woff") format("woff"), url("../font/CoreGothicE-4Regular.woff2") format("woff2"), url("../font/CoreGothicE-4Regular.otf") format("opentype"); }
@font-face {
  font-family: coreE;
  font-style: normal;
  font-weight: 500;
  src: url("../font/CoreGothicE-5Medium.eot");
  src: url("../font/CoreGothicE-5Medium.eot#iefix") format("embedded-opentype"), url("../font/CoreGothicE-5Medium.woff") format("woff"), url("../font/CoreGothicE-5Medium.woff2") format("woff2"), url("../font/CoreGothicE-5Medium.otf") format("opentype"); }
@font-face {
  font-family: coreD;
  font-style: normal;
  font-weight: 300;
  src: url("../font/CoreGothicD-3Light.eot");
  src: url("../font/CoreGothicD-3Light.eot#iefix") format("embedded-opentype"), url("../font/CoreGothicD-3Light.woff") format("woff"), url("../font/CoreGothicD-3Light.woff2") format("woff2"), url("../font/CoreGothicD-3Light.otf") format("opentype"); }
@font-face {
  font-family: coreD;
  font-style: normal;
  font-weight: 400;
  src: url("../font/CoreGothicD-4Regular.eot");
  src: url("../font/CoreGothicD-4Regular.eot#iefix") format("embedded-opentype"), url("../font/CoreGothicD-4Regular.woff") format("woff"), url("../font/CoreGothicD-4Regular.woff2") format("woff2"), url("../font/CoreGothicD-4Regular.otf") format("opentype"); }
@font-face {
  font-family: coreD;
  font-style: normal;
  font-weight: 500;
  src: url("../font/CoreGothicD-5Medium.eot");
  src: url("../font/CoreGothicD-5Medium.eot#iefix") format("embedded-opentype"), url("../font/CoreGothicD-5Medium.woff") format("woff"), url("../font/CoreGothicD-5Medium.woff2") format("woff2"), url("../font/CoreGothicD-5Medium.otf") format("opentype"); }
@font-face {
  font-family: coreD;
  font-style: normal;
  font-weight: 900;
  src: url("../font/CoreGothicD-9Black.eot");
  src: url("../font/CoreGothicD-9Black.eot#iefix") format("embedded-opentype"), url("../font/CoreGothicD-9Black.woff") format("woff"), url("../font/CoreGothicD-9Black.woff2") format("woff2"), url("../font/CoreGothicD-9Black.otf") format("opentype"); }
@font-face {
  font-family: HDline;
  font-style: normal;
  font-weight: 400;
  src: url("../font/HeadlineR-HM.eot");
  src: url("../font/HeadlineR-HM.eot#iefix") format("embedded-opentype"), url("../font/HeadlineR-HM.woff") format("woff"), url("../font/HeadlineR-HM.woff2") format("woff2"), url("../font/HeadlineR-HM.otf") format("opentype"); }
body, h1, h2, h3, ul, p, button {
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  font-size: 100%;
  font-weight: inherit; }

strong {
  font-weight: inherit; }

ul {
  list-style: none; }

img {
  border: none;
  vertical-align: middle; }

input {
  font-family: inherit;
  color: inherit; }

button {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit; }

a:link, a:visited, a:hover, a:focus {
  text-decoration: none;
  color: inherit; }

header, section, article, footer {
  display: block; }

address {
  font-style: normal; }

.blind-b, .blind-i {
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: none;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); }

.blind-i {
  display: inline-block;
  margin: -1px; }

.blind-b {
  position: absolute; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

body {
  font-family: coreE;
  font-weight: 400;
  font-size: 5.5555555556vw;
  color: #544542; }
  body h2 {
    font-weight: 500;
    margin: 0 auto 10px; }

#wrap {
  width: 100vw;
  overflow: hidden; }

#header {
  position: fixed;
  width: 100vw;
  height: 52px;
  padding: 0 30px;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #header .logo {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    float: left; }
  #header .menu {
    float: right;
    width: 230px; }
    #header .menu > * {
      display: inline-block;
      vertical-align: middle; }
    #header .menu #search_bar {
      padding-top: 10px; }
      #header .menu #search_bar > * {
        vertical-align: middle; }
      #header .menu #search_bar .typing {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        width: 150px;
        height: 34px;
        border: 2px solid #FFD2C1; }
      #header .menu #search_bar .submit_btn {
        border: none;
        background: url("../images/common/i-zoom.png") no-repeat top left;
        width: 34px;
        height: 34px; }
  #header .menu_btn {
    position: relative;
    width: 34px;
    height: 34px; }
    #header #nav .menu_btn {
      position: absolute;
      top: 0px;
      right: 30px; }
    #header .menu_btn .line {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      display: inline-block;
      position: absolute;
      width: 34px;
      height: 2px;
      border-radius: 8px;
      background: #544542; }
    #header .menu_btn .top {
      top: 9px; }
    #header .menu_btn .mid {
      top: 22px; }
    #header .menu_btn .btm {
      top: 35px; }
    #header .menu_btn.act_left .line {
      width: 38px; }
    #header .menu_btn.act_left .top {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 29px; }
    #header .menu_btn.act_left .mid {
      opacity: 0; }
    #header .menu_btn.act_left .btm {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 29px; }
  #header #nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 100%;
    bottom: 0;
    width: 80%;
    overflow-y: auto; }
    #header #nav::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7); }
    #header #nav .nav_inner {
      position: relative;
      padding: 7px 0 20px 0;
      background: #fff; }
      #header #nav .nav_inner > p, #header #nav .nav_inner > span {
        display: inline-block;
        padding-bottom: 21px;
        font-size: 16px;
        font-weight: 300;
        padding-left: 20px;
        line-height: 42px; }
        #header #nav .nav_inner > p strong, #header #nav .nav_inner > span strong {
          font-weight: 500; }
        #header #nav .nav_inner > p img, #header #nav .nav_inner > span img {
          width: 34px;
          margin-left: 8px; }
      #header #nav .nav_inner .private {
        width: 265px;
        height: 82px;
        margin: 0 auto 25px; }
        #header #nav .nav_inner .private li {
          -webkit-border-radius: 10px;
          border-radius: 10px;
          float: left;
          width: 70px;
          height: 70px;
          font-family: coreD;
          font-weight: 500;
          font-size: 3.8888888889vw;
          color: #735587;
          text-align: center;
          border: 2px solid #BEABCA; }
          #header #nav .nav_inner .private li + li {
            margin-left: 6px; }
          #header #nav .nav_inner .private li img {
            width: 40px;
            padding-top: 10px; }
          #header #nav .nav_inner .private li span {
            display: block;
            padding-top: 6px; }
          #header #nav .nav_inner .private li a {
            display: block; }
      #header #nav .nav_inner #gnb {
        -webkit-border-radius: 30px 0 0 0;
        border-radius: 30px 0 0 0;
        content: "";
        display: block;
        clear: both;
        padding: 24px 0;
        color: #fff;
        background: linear-gradient(135deg, #826b90, #916a5b); }
        #header #nav .nav_inner #gnb a {
          display: inline-block;
          line-height: 34px; }
        #header #nav .nav_inner #gnb > li {
          margin-bottom: 16px; }
        #header #nav .nav_inner #gnb > li > a {
          position: relative;
          padding: 10px 0;
          text-indent: 40px;
          font-family: coreD;
          font-weight: 600; }
        #header #nav .nav_inner #gnb > li:not(.direct-link) > a::after {
          -webkit-transition: all, 0.5s;
          -moz-transition: all, 0.5s;
          -o-transition: all, 0.5s;
          transition: all, 0.5s;
          content: "";
          position: absolute;
          right: -60px;
          top: calc(50% - 3px);
          border-top: 7px solid rgba(255, 255, 255, 0.8);
          border-left: 5px solid transparent;
          border-right: 5px solid transparent; }
        #header #nav .nav_inner #gnb > li.on:not(.direct-link) > a::after {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }
        #header #nav .nav_inner #gnb li ul {
          margin-bottom: 30px; }
        #header #nav .nav_inner #gnb li.on ul {
          display: block; }
        #header #nav .nav_inner #gnb li ul li a {
          padding: 10px 58px;
          width: 100%;
          font-family: coreE;
          font-weight: 300;
          font-size: 16px; }
        #header #nav .nav_inner #gnb > li > a:focus, #header #nav .nav_inner #gnb > li > a:hover, #header #nav .nav_inner #gnb > li.on > a {
          text-decoration: underline; }
        #header #nav .nav_inner #gnb li ul li a:focus, #header #nav .nav_inner #gnb li ul li a:hover {
          background: rgba(255, 210, 194, 0.2);
          background: -webkit-linear-gradient(90deg, rgba(255, 210, 194, 0.2), transparent);
          background: -o-linear-gradient(90deg, rgba(255, 210, 194, 0.2), transparent);
          background: linear-gradient(90deg, rgba(255, 210, 194, 0.2), transparent); }
      #header #nav .nav_inner .admin strong {
        display: block;
        width: 80px;
        margin: 30px 0 10px 50px;
        font-weight: 400;
        font-size: 16px; }
      #header #nav .nav_inner .admin strong + p, #header #nav .nav_inner .admin > strong + span {
        display: inline-block;
        margin-left: 30px;
        font-size: 14px; }
      #header #nav .nav_inner .admin strong + p {
        line-height: 24px; }

article {
  margin: 90px 20px 85px; }

#cnt_main {
  margin: 0; }
  #cnt_main .swiper-container {
    width: 100vw;
    height: 100vh; }
    #cnt_main .swiper-container .swiper-pagination {
      left: 35%;
      top: 32%; }
    #cnt_main .swiper-container.top .intro1 img {
      width: 100vw; }
    #cnt_main .swiper-container.mid .intro2 img {
      position: absolute;
      top: 21%;
      left: 0; }
    #cnt_main .swiper-container.mid #controller .swiper-pagination {
      right: 20%;
      top: 34%; }
    #cnt_main .swiper-container.btm .intro3 img {
      position: absolute;
      bottom: 0;
      left: 0; }
    #cnt_main .swiper-container.btm #controller .swiper-pagination {
      left: 32%;
      top: 68%; }
    #cnt_main .swiper-container .swiper-slide {
      position: relative;
      background: no-repeat top center;
      background-size: cover; }
      #cnt_main .swiper-container .swiper-slide span, #cnt_main .swiper-container .swiper-slide strong {
        position: absolute; }
      #cnt_main .swiper-container .swiper-slide span {
        font-size: 11.11111111111111vw; }
      #cnt_main .swiper-container .swiper-slide span::after {
        content: "";
        position: absolute;
        bottom: -4px;
        width: 38.88888888888889vw;
        height: 0.3611111111111111vh;
        background: #544542; }
      #cnt_main .swiper-container .swiper-slide strong {
        font-size: 6.666666666666667vw; }
    #cnt_main .swiper-container .intro1 {
      background-image: url("../images/main/poster1.jpg"); }
      #cnt_main .swiper-container .intro1 strong {
        left: 8%;
        top: 12%; }
      #cnt_main .swiper-container .intro1 span {
        left: 11%;
        top: 28%; }
      #cnt_main .swiper-container .intro1 span::after {
        left: -2px; }
    #cnt_main .swiper-container .intro2 {
      background-image: url("../images/main/poster2.jpg"); }
      #cnt_main .swiper-container .intro2 strong {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
        right: 8%;
        text-align: right; }
      #cnt_main .swiper-container .intro2 span {
        right: 11%;
        top: 30%; }
      #cnt_main .swiper-container .intro2 span::after {
        right: 2px; }
    #cnt_main .swiper-container .intro3 {
      background-image: url("../images/main/poster3.jpg"); }
      #cnt_main .swiper-container .intro3 strong {
        left: 8%;
        bottom: 9%; }
      #cnt_main .swiper-container .intro3 span {
        left: 8%;
        bottom: 28%; }
      #cnt_main .swiper-container .intro3 span::after {
        left: -2px; }
    #cnt_main .swiper-container #controller .swiper-pagination-bullet {
      margin: 0 0.5555555556vw;
      width: 2.222222222222222vw;
      height: 2.222222222222222vw;
      background: #BEABCA;
      border: 0.5555555556vw solid #fff;
      opacity: 1; }
    #cnt_main .swiper-container #controller .swiper-pagination-bullet-active {
      width: 3.333333333333333vw;
      height: 3.333333333333333vw;
      background: #735587; }
    #cnt_main .swiper-container #controller .play_stop {
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      left: -120px;
      width: 50.27777777777778vw;
      height: 50.27777777777778vw;
      background: url("../images/main/btn_cir.png") no-repeat center;
      z-index: 1000; }
      #cnt_main .swiper-container #controller .play_stop img {
        width: 14px;
        height: 25px;
        padding-left: 100px; }
  #cnt_main #toolbar {
    position: fixed;
    bottom: 5%;
    right: 8%;
    z-index: 900; }
    #cnt_main #toolbar li {
      -webkit-border-radius: 50%;
      border-radius: 50%;
      display: block;
      width: 16.66666666666667vw;
      height: 16.66666666666667vw;
      text-align: center;
      border: 0.5555555556vw solid; }
    #cnt_main #toolbar a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      line-height: 16.66666666666667vw;
      font-family: coreD;
      font-size: 3.8888888889vw;
      font-weight: 500;
      color: #544542;
      z-index: 1; }
    #cnt_main #toolbar ul li:nth-child(1) {
      background: #FFD2C1;
      border-color: #fff; }
    #cnt_main #toolbar ul li:nth-child(2) {
      background: #fff;
      border-color: #FFD2C1; }
    #cnt_main #toolbar ul li a::before {
      -webkit-background-size: 80% !important;
      background-size: 80% !important;
      content: "";
      opacity: 0.5;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1; }
    #cnt_main #toolbar ul li:nth-child(1) a::before {
      background: url("../images/main/i-how.png") no-repeat center; }
    #cnt_main #toolbar ul li:nth-child(2) a::before {
      background: url("../images/main/i-reserve.png") no-repeat center; }

#cnt_company {
  height: 300px; }
  #cnt_company p .talk:nth-child(4) {
    margin-left: 22px; }
  #cnt_company p .quotation {
    position: relative;
    display: inline-block;
    font-family: HDline;
    font-size: 10vw;
    font-weight: 500;
    margin-bottom: 4px; }
    #cnt_company p .quotation::before {
      background: #FFD2C1;
      background: -webkit-linear-gradient(90deg, #FFD2C1, #BEABCA);
      background: -o-linear-gradient(90deg, #FFD2C1, #BEABCA);
      background: linear-gradient(90deg, #FFD2C1, #BEABCA);
      content: "";
      position: absolute;
      width: 60vw;
      height: 12.22222222222222vw;
      z-index: -1; }
    #cnt_company p .quotation:nth-child(5)::before {
      left: 16px;
      margin-left: -52vw;
      width: 68vw; }
  #cnt_company ul {
    display: block;
    clear: both;
    margin: 30px auto 0;
    width: 87.77777777777778vw; }
    #cnt_company ul li {
      float: left;
      margin: 2px; }
      #cnt_company ul li a {
        -webkit-border-radius: 16px;
        border-radius: 16px;
        -webkit-background-size: cover !important;
        background-size: cover !important;
        display: inline-block;
        width: 41.66666666666667vw;
        height: 27.77777777777778vw;
        background: no-repeat center;
        border: 0.5555555556vw solid #BEABCA;
        font-family: coreD;
        font-size: 5.5555555556vw;
        line-height: 27.77777777777778vw;
        text-align: center;
        font-weight: 900;
        color: #000;
        text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff; }
      #cnt_company ul li:nth-child(1) a {
        background-image: url("../images/main/menu_btn_w.jpg"); }
      #cnt_company ul li:nth-child(2) a {
        background-image: url("../images/main/menu_btn_h.jpg"); }
      #cnt_company ul li:nth-child(3) a {
        background-image: url("../images/main/menu_btn_x.jpg"); }
      #cnt_company ul li:nth-child(4) a {
        background-image: url("../images/main/menu_btn_j.jpg"); }

#cnt_best-review h2 {
  width: 21.38888888888889vw; }

#cnt_now_event {
  margin-left: 0;
  margin-bottom: 50px; }
  #cnt_now_event h2 {
    position: relative;
    width: 17.5vw;
    padding-left: 20px; }
    #cnt_now_event h2::before {
      background: #FFD2C1;
      background: -webkit-linear-gradient(135deg, #FFD2C1, #BEABCA);
      background: -o-linear-gradient(135deg, #FFD2C1, #BEABCA);
      background: linear-gradient(135deg, #FFD2C1, #BEABCA);
      -webkit-border-radius: 11.1111111111vw;
      border-radius: 11.1111111111vw;
      content: "";
      position: absolute;
      z-index: -10;
      top: -7px;
      left: -116px;
      width: 94.44444444444444vw;
      height: 47.22222222222222vw; }
  #cnt_now_event .swiper-container {
    padding-bottom: 8.3333333333vw; }
    #cnt_now_event .swiper-container .swiper-slide {
      width: 94.44444444444444vw;
      height: 47.22222222222222vw; }
      #cnt_now_event .swiper-container .swiper-slide a {
        -webkit-background-size: cover !important;
        background-size: cover !important;
        -webkit-border-radius: 0 11.1111111111vw 11.1111111111vw 0;
        border-radius: 0 11.1111111111vw 11.1111111111vw 0;
        display: block;
        width: 100%;
        height: 100%;
        position: relative; }
      #cnt_now_event .swiper-container .swiper-slide p {
        position: absolute;
        bottom: 10%;
        left: 12%;
        line-height: 1.2;
        font-size: 5.5555555556vw;
        color: #fff;
        text-shadow: 0 0 4px #000; }
      #cnt_now_event .swiper-container .swiper-slide.event1 a {
        background-image: url("../images/main/s-event1.png"); }
        #cnt_now_event .swiper-container .swiper-slide.event1 a span {
          display: inline-block;
          font-weight: 300;
          font-size: 4.4444444444vw; }
      #cnt_now_event .swiper-container .swiper-slide.event2 a {
        background-image: url("../images/main/s-event2.png"); }
      #cnt_now_event .swiper-container .swiper-slide.event3 a {
        background-image: url("../images/main/s-event3.png"); }
        #cnt_now_event .swiper-container .swiper-slide.event3 a span {
          font-size: 5.5555555556vw; }
        #cnt_now_event .swiper-container .swiper-slide.event3 a p {
          font-size: 4.4444444444vw;
          font-weight: 300; }
    #cnt_now_event .swiper-container .swiper-pagination {
      position: absolute;
      right: 5.5555555556vw;
      bottom: -1.666666666666667vw;
      height: 7.777777777777778vw; }
      #cnt_now_event .swiper-container .swiper-pagination .swiper-pagination-bullet {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        width: 2.7777777778vw;
        height: 2.7777777778vw;
        margin: 0.8333333333333333vw;
        background: #BEABCA;
        opacity: 1; }
      #cnt_now_event .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
        -webkit-border-radius: 5.5555555556vw;
        border-radius: 5.5555555556vw;
        -webkit-transition: width 0.3s;
        -moz-transition: width 0.3s;
        -o-transition: width 0.3s;
        transition: width 0.3s;
        width: 6.944444444444444vw;
        height: 2.777777777777778vw;
        background: #735587; }
    #cnt_now_event .swiper-container .swiper-button-next::after, #cnt_now_event .swiper-container .swiper-button-prev::after {
      display: none; }
    #cnt_now_event .swiper-container .swiper-button-prev, #cnt_now_event .swiper-container .swiper-button-next {
      top: calc(50% - 8px); }
    #cnt_now_event .swiper-container .swiper-button-prev {
      background-image: url("../images/main/i-prev.png"); }
    #cnt_now_event .swiper-container .swiper-button-next {
      background-image: url("../images/main/i-next.png"); }

#cnt_social h2 {
  margin: 0 0 10px 0; }
#cnt_social > p {
  font-weight: 300;
  font-size: 16px; }
#cnt_social ul li {
  float: left; }

#footer {
  background: #FFEDE7;
  background: -webkit-linear-gradient(150deg, #FFEDE7, #BEABCA);
  background: -o-linear-gradient(150deg, #FFEDE7, #BEABCA);
  background: linear-gradient(150deg, #FFEDE7, #BEABCA);
  -webkit-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  width: 100vw;
  height: 300px;
  padding: 26px 53px;
  font-family: coreD;
  font-size: 12px;
  box-sizing: border-box; }

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx), screen and (min-resolution: 192dpi) {
  .intro1 {
    background-image: url("../images/main/poster1x2.jpg"); }

  .intro2 {
    background-image: url("../images/main/poster2x2.jpg"); }

  .intro3 {
    background-image: url("../images/main/poster3x2.jpg"); }

  #controller .play_stop {
    background-image: url("../images/main/btn_cirx2.png"); }

  .event1 a {
    background-image: url("../images/main/s-event1x2.png"); }

  .event2 a {
    background-image: url("../images/main/s-event2x2.png"); }

  .event3 a {
    background-image: url("../images/main/s-event3x2.png"); } }
@media screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 3dppx), screen and (min-resolution: 288dpi) {
  .intro1 {
    background-image: url("../images/main/poster1x3.jpg"); }

  .intro2 {
    background-image: url("../images/main/poster2x3.jpg"); }

  .intro3 {
    background-image: url("../images/main/poster3x3.jpg"); }

  #controller .play_stop {
    background-image: url("../images/main/btn_cirx3.png"); }

  .event1 a {
    background-image: url("../images/main/s-event1x3.png"); }

  .event2 a {
    background-image: url("../images/main/s-event2x3.png"); }

  .event3 a {
    background-image: url("../images/main/s-event3x3.png"); } }

/*# sourceMappingURL=common.css.map */
