@font-face {
  font-family: coreE;
  font-style: normal;
  font-weight: 300;
  src: url("../font/CoreGothicE-3Light.eot");
  src: url("../font/CoreGothicE-3Light.eot#iefix") format("embedded-opentype"), url("../font/CoreGothicE-3Light.woff") format("woff"), url("../font/CoreGothicE-3Light.woff2") format("woff2"), url("../font/CoreGothicE-3Light.otf") format("opentype"); }
@font-face {
  font-family: coreE;
  font-style: normal;
  font-weight: 400;
  src: url("../font/CoreGothicE-4Regular.eot");
  src: url("../font/CoreGothicE-4Regular.eot#iefix") format("embedded-opentype"), url("../font/CoreGothicE-4Regular.woff") format("woff"), url("../font/CoreGothicE-4Regular.woff2") format("woff2"), url("../font/CoreGothicE-4Regular.otf") format("opentype"); }
@font-face {
  font-family: coreE;
  font-style: normal;
  font-weight: 500;
  src: url("../font/CoreGothicE-5Medium.eot");
  src: url("../font/CoreGothicE-5Medium.eot#iefix") format("embedded-opentype"), url("../font/CoreGothicE-5Medium.woff") format("woff"), url("../font/CoreGothicE-5Medium.woff2") format("woff2"), url("../font/CoreGothicE-5Medium.otf") format("opentype"); }
@font-face {
  font-family: coreD;
  font-style: normal;
  font-weight: 300;
  src: url("../font/CoreGothicD-3Light.eot");
  src: url("../font/CoreGothicD-3Light.eot#iefix") format("embedded-opentype"), url("../font/CoreGothicD-3Light.woff") format("woff"), url("../font/CoreGothicD-3Light.woff2") format("woff2"), url("../font/CoreGothicD-3Light.otf") format("opentype"); }
@font-face {
  font-family: coreD;
  font-style: normal;
  font-weight: 400;
  src: url("../font/CoreGothicD-4Regular.eot");
  src: url("../font/CoreGothicD-4Regular.eot#iefix") format("embedded-opentype"), url("../font/CoreGothicD-4Regular.woff") format("woff"), url("../font/CoreGothicD-4Regular.woff2") format("woff2"), url("../font/CoreGothicD-4Regular.otf") format("opentype"); }
@font-face {
  font-family: coreD;
  font-style: normal;
  font-weight: 500;
  src: url("../font/CoreGothicD-5Medium.eot");
  src: url("../font/CoreGothicD-5Medium.eot#iefix") format("embedded-opentype"), url("../font/CoreGothicD-5Medium.woff") format("woff"), url("../font/CoreGothicD-5Medium.woff2") format("woff2"), url("../font/CoreGothicD-5Medium.otf") format("opentype"); }
@font-face {
  font-family: coreD;
  font-style: normal;
  font-weight: 600;
  src: url("../font/CoreGothicD-6Bold.eot");
  src: url("../font/CoreGothicD-6Bold.eot#iefix") format("embedded-opentype"), url("../font/CoreGothicD-6Bold.woff") format("woff"), url("../font/CoreGothicD-6Bold.woff2") format("woff2"), url("../font/CoreGothicD-6Bold.otf") format("opentype"); }
@font-face {
  font-family: coreD;
  font-style: normal;
  font-weight: 900;
  src: url("../font/CoreGothicD-9Black.eot");
  src: url("../font/CoreGothicD-9Black.eot#iefix") format("embedded-opentype"), url("../font/CoreGothicD-9Black.woff") format("woff"), url("../font/CoreGothicD-9Black.woff2") format("woff2"), url("../font/CoreGothicD-9Black.otf") format("opentype"); }
@font-face {
  font-family: HDline;
  font-style: normal;
  font-weight: 400;
  src: url("../font/HeadlineR-HM.eot");
  src: url("../font/HeadlineR-HM.eot#iefix") format("embedded-opentype"), url("../font/HeadlineR-HM.woff") format("woff"), url("../font/HeadlineR-HM.woff2") format("woff2"), url("../font/HeadlineR-HM.otf") format("opentype"); }
body,
h1,
h2,
h3,
ul,
p,
button {
  padding: 0;
  margin: 0; }

h1,
h2,
h3 {
  font-size: 100%;
  font-weight: inherit; }

strong {
  font-weight: inherit; }

ul {
  list-style: none; }

img {
  vertical-align: middle;
  border: none; }

input {
  font-family: inherit;
  color: inherit; }

button {
  font-family: inherit;
  color: inherit;
  background: none;
  border: none; }

a:link,
a:visited,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none; }

header,
section,
article,
footer {
  display: block; }

address {
  font-style: normal; }

.blind-b,
.blind-i {
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: none;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); }

.blind-i {
  display: inline-block;
  margin: -1px; }

.blind-b {
  position: absolute; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

body {
  font-family: coreE;
  font-size: 5.5555555556vw;
  font-weight: 400;
  color: #544542; }
  body h2 {
    margin: 0 auto 2.7777777778vw;
    font-weight: 500; }

#wrap {
  width: 100vw;
  overflow: hidden; }

#header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  height: 60px;
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #fff;
  z-index: 1000; }
  #header .logo {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    float: left;
    top: 50%; }
    #header .logo img {
      width: 38px; }
  #header .menu {
    float: left;
    position: relative; }
    #header .menu > * {
      display: inline-block;
      vertical-align: middle; }
    #header .menu #search_bar {
      position: relative;
      left: 20px;
      width: 66.6666666667vw;
      height: 60px; }
      #header .menu #search_bar #search {
        position: absolute;
        top: 14px;
        width: calc(50vw - 10px);
        height: 34px;
        vertical-align: top;
        font-size: 16px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #735587; }
      #header .menu #search_bar .submit_btn {
        position: absolute;
        right: 20px;
        top: 10px;
        width: 36px;
        height: 36px; }
        #header .menu #search_bar .submit_btn img {
          width: 36px; }
  #header .menu_btn {
    float: right;
    position: relative;
    top: 12px;
    width: 34px;
    height: 34px; }
    #header .menu_btn.menu_btn_open {
      left: 18px; }
    #header .menu_btn.menu_btn_close {
      position: absolute;
      right: 20px; }
    #header .menu_btn img {
      width: 34px; }

#nav {
  display: none;
  position: fixed;
  left: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  overflow-y: auto;
  z-index: 1000; }
  #nav .nav_inner {
    position: relative;
    padding: 1.9444444444vw 0 5.5555555556vw 0;
    background: #fff; }
    #nav .nav_inner > p,
    #nav .nav_inner > span {
      display: inline-block;
      padding-bottom: 5.8333333333vw;
      font-size: 4.4444444444vw;
      font-weight: 300;
      padding-left: 5.5555555556vw;
      line-height: 11.6666666667vw; }
      #nav .nav_inner > p strong,
      #nav .nav_inner > span strong {
        font-weight: 500; }
      #nav .nav_inner > p img,
      #nav .nav_inner > span img {
        width: 9.4444444444vw;
        margin-left: 2.2222222222vw; }
    #nav .nav_inner .private {
      width: 73.6111111111vw;
      height: 22.7777777778vw;
      margin: 0 auto 6.9444444444vw; }
      #nav .nav_inner .private li {
        -webkit-border-radius: 2.7777777778vw;
        border-radius: 2.7777777778vw;
        float: left;
        width: 19.4444444444vw;
        height: 19.4444444444vw;
        padding-bottom: 2.2222222222vw;
        font-family: coreD;
        font-weight: 500;
        font-size: 3.3333333333vw;
        color: #735587;
        text-align: center;
        border: 0.5555555556vw solid #BEABCA; }
        #nav .nav_inner .private li + li {
          margin-left: 1.6666666667vw; }
        #nav .nav_inner .private li img {
          width: 11.1111111111vw;
          padding-top: 2.7777777778vw; }
        #nav .nav_inner .private li span {
          display: block;
          padding-top: 1.6666666667vw; }
        #nav .nav_inner .private li a {
          display: block; }
    #nav .nav_inner #gnb {
      -webkit-border-radius: 8.3333333333vw 0 0 0;
      border-radius: 8.3333333333vw 0 0 0;
      content: "";
      display: block;
      clear: both;
      padding: 6.6666666667vw 0;
      color: #fff;
      background: linear-gradient(135deg, #826b90, #916a5b); }
      #nav .nav_inner #gnb a {
        display: inline-block;
        line-height: 9.4444444444vw; }
      #nav .nav_inner #gnb > li {
        margin-bottom: 4.4444444444vw; }
      #nav .nav_inner #gnb > li > a {
        position: relative;
        padding: 2.7777777778vw 0;
        text-indent: 11.1111111111vw;
        font-family: coreD;
        font-weight: 500; }
      #nav .nav_inner #gnb > li:not(.direct-link) > a::after {
        -webkit-transition: all, 0.5s;
        -moz-transition: all, 0.5s;
        -o-transition: all, 0.5s;
        transition: all, 0.5s;
        content: "";
        position: absolute;
        right: -16.6666666667vw;
        top: calc(50% - 3px);
        border-top: 1.9444444444vw solid rgba(255, 255, 255, 0.8);
        border-left: 1.3888888889vw solid transparent;
        border-right: 1.3888888889vw solid transparent; }
      #nav .nav_inner #gnb > li.on:not(.direct-link) > a::after {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg); }
      #nav .nav_inner #gnb li ul {
        margin-bottom: 8.3333333333vw; }
      #nav .nav_inner #gnb li.on ul {
        display: block; }
      #nav .nav_inner #gnb li ul li a {
        padding: 2.7777777778vw 16.1111111111vw;
        width: 100%;
        font-family: coreE;
        font-weight: 300;
        font-size: 4.4444444444vw; }
      #nav .nav_inner #gnb > li > a:focus,
      #nav .nav_inner #gnb > li > a:hover,
      #nav .nav_inner #gnb > li.on > a {
        text-decoration: underline; }
      #nav .nav_inner #gnb li ul li a:focus,
      #nav .nav_inner #gnb li ul li a:hover {
        background: rgba(255, 210, 194, 0.2);
        background: -webkit-linear-gradient(90deg, rgba(255, 210, 194, 0.2), transparent);
        background: -o-linear-gradient(90deg, rgba(255, 210, 194, 0.2), transparent);
        background: linear-gradient(90deg, rgba(255, 210, 194, 0.2), transparent); }
    #nav .nav_inner .admin strong {
      display: block;
      width: 22.2222222222vw;
      margin: 8.3333333333vw 0 2.7777777778vw 13.8888888889vw;
      font-weight: 400;
      font-size: 4.4444444444vw; }
    #nav .nav_inner .admin strong + p,
    #nav .nav_inner .admin > strong + span {
      display: inline-block;
      margin-left: 8.3333333333vw;
      font-size: 3.8888888889vw; }
    #nav .nav_inner .admin strong + p {
      line-height: 6.6666666667vw; }

#footer {
  background: #FFEDE7;
  background: -webkit-linear-gradient(150deg, #FFEDE7, #BEABCA);
  background: -o-linear-gradient(150deg, #FFEDE7, #BEABCA);
  background: linear-gradient(150deg, #FFEDE7, #BEABCA);
  -webkit-border-radius: 5.5555555556vw 5.5555555556vw 0 0;
  border-radius: 5.5555555556vw 5.5555555556vw 0 0;
  width: 100vw;
  height: 83.3333333333vw;
  padding: 7.2222222222vw 14.4444444444vw;
  font-family: coreD;
  font-size: 3.3333333333vw;
  box-sizing: border-box; }

.blur-in {
  -webkit-animation: blur 2s forwards;
  -moz-animation: blur 2s forwards;
  -o-animation: blur 2s forwards;
  animation: blur 2s forwards; }

.blur-out {
  -webkit-animation: blur 2s reverse;
  -moz-animation: blur 2s reverse;
  -o-animation: blur 2s reverse;
  animation: blur 2s reverse;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */ }

@-webkit-keyframes blur {
  from {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0); }
  to {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px); } }
@-moz-keyframes blur {
  from {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0); }
  to {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px); } }
@-o-keyframes blur {
  from {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0); }
  to {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px); } }
@keyframes blur {
  from {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0); }
  to {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px); } }

/*# sourceMappingURL=common.css.map */
