@charset "utf-8";
@import "_mixin", "_var";

article {
  margin: $f90 $f20 $f85;

  h2 {
    line-height: 1;
    font-family: roboto;
    font-size: 22px;
  }

  h2+p {
    margin: 10px 0 32px 0;
    line-height: 1;
    font-size: 12px;
  }
}


#cnt_main {
  margin: 0;
  color: $brown;

  .swiper-container {
    width: 100vw;
    height: 100vh;

    .swiper-slide {
      position: relative;
      background: no-repeat top center;
      background-size: cover;

      .info {
        position: absolute;

        span {
          position: relative;
          display: inline-block;
          width: 70vw;
          height: 15.55555555555556vw;
          line-height: 15.55555555555556vw;
          padding: $f6 0;
          font-family: coreD;
          font-size: $f50;
        }

        span::after {
          content: "";
          position: absolute;
          bottom: 0;
          width: 39vw;
          height: $f1;
          background: $brown;
        }

        p {
          width: 70vw;
          height: 28.33333333333333vw;
          padding: $f10 0;
          font-size: $f20;
        }
      }
    }

    #controller {
      .swiper-pagination-bullet {
        margin: 0 $f2;
        width: $f8;
        height: $f8;
        background: $l-violet;
        border: $f2 solid #fff;
        opacity: 1;
      }

      .swiper-pagination-bullet-active {
        width: $f12;
        height: $f12;
        background: $violet;
      }

      .play_stop {
        @include t-form(translateY(-50%));
        @include bgsize(cover);
        position: absolute;
        top: 50%;
        left: -$f120;
        width: $f181;
        height: $f181;
        max-width: 460px;
        max-height: 460px;
        background: url("../images/main/btn_cir.png") no-repeat center;
        z-index: 1000;

        img {
          width: $f14;
          height: $f25;
          max-width: 25.2px;
          max-height: 45px;
          padding-left: $f100;
        }
      }
    }

    &.top {
      .intro1 {
        background-image: url("../images/main/poster1.jpg");

        img {
          width: 100vw;
        }

        .info {
          top: 17.77777777777778vw;
          left: 10vw;

          span {
            left: $f8;
          }

          span::after {
            left: $f6;
          }
        }
      }

      #controller .swiper-pagination {
        top: 27.77777777777779vw;
        left: 39vw;
      }
    }

    &.mid {
      .intro2 {
        background-image: url("../images/main/poster2.jpg");

        img {
          position: absolute;
          top: 22%;
          left: 0;
        }

        .info {
          top: 55vw;
          right: 10vw;
          text-align: right;

          span {
            right: $f8;
          }

          span::after {
            right: $f6;
          }
        }
      }

      #controller .swiper-pagination {
        top: 65.00000000000001vw;
        right: 39vw;
      }
    }

    &.btm {
      .intro3 {
        background-image: url("../images/main/poster3.jpg");

        img {
          position: absolute;
          bottom: 0;
          left: 0;
        }

        .info {
          bottom: 10vw;
          left: 10vw;

          span {
            left: $f8;
          }

          span::after {
            left: $f6;
          }
        }
      }

      #controller .swiper-pagination {
        bottom: 45vw;
        left: 39vw;
      }
    }
  }
}

#cnt_company {
  padding: $f90 0 $f85;
  margin: 0;

  h2,
  p {
    margin-left: 20px;
  }

  ul {
    display: block;
    clear: both;
    width: 100%;

    li {
      @include bgsize(cover);
      position: relative;
      width: 100%;
      height: $f120;
      background: no-repeat center;

      a {
        @include t-form(translateY(-50%));
        display: inline-block;
        position: relative;
        top: 50%;
        margin: 0 30px;
        font-family: roboto;
        font-size: 26px;
        font-weight: 700;
        color: #000;
        text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;

        span {
          display: block;
          font-size: 8px;
          text-decoration: underline;
        }
      }

      &:nth-child(odd) {
        text-align: right;
      }

      &::after {
        @include t-sition(1s width);
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: $f120;
      }

      &:nth-child(odd)::after {
        left: 0;
      }

      &:nth-child(even)::after {
        right: 0;
      }

      &.on::after {
        width: 0;
      }

      &:nth-child(1) {
        &::after {
          background-color: #DACAE4;
        }

        background-image: url("../images/main/w-btn.png");
      }

      &:nth-child(2) {
        &::after {
          background-color: #A885BD;
        }

        background-image: url("../images/main/h-btn.png");
      }

      &:nth-child(3) {
        &::after {
          background-color: #E8E6EB;
        }

        background-image: url("../images/main/x-btn.png");
      }

      &:nth-child(4) {
        &::after {
          background-color: #735587;
        }

        background-image: url("../images/main/j-btn.png");
      }
    }
  }
}

#cnt_best-review {
  position: relative;
  width: 100%;
  margin: 0;
  font-family: coreD;
  text-align: center;

  &>p {
    font-family: coreE;

    &::before {
      @include bg-g(0, $l-grey, transparent);
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 50%;
      width: 100%;
      height: 165px;
    }

    &::after {
      @include t-form(translateX(-50%));
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 60px;
      width: 1px;
      height: 30px;
      background: $grey;
    }
  }

  .swiper-slide {
    @include t-sition(transform .5s);
  }

  .rate {
    height: $f14;
    margin-top: 30px;

    img {
      width: $f14;
      vertical-align: top;

      +img {
        margin-left: $f2;
      }
    }
  }

  .short-review {
    margin-top: 10px;
    font-size: 10px;
  }

  .img-tablet {
    @include bgsize(contain);
    width: 220px;
    height: 180px;
    margin: 0 auto;
    background: no-repeat center;
  }

  .review1 .img-tablet {
    background-image: url("../images/review/cintiq1.png");
  }

  .review2 .img-tablet {
    background-image: url("../images/review/wacomone1.png");
  }

  .review3 .img-tablet {
    background-image: url("../images/review/noble1.png");
  }

  .review4 .img-tablet {
    background-image: url("../images/review/kamvas1.png");
  }

  .name-tablet {
    font-family: roboto;
    font-size: 16px;
    font-weight: 700;
  }

  .short-info {
    margin: 10px 0 24px;
    line-height: 1.5;
    font-size: 14px;
  }

  .price {
    font-size: 12px;
    color: $b-grey;

    strong {
      display: inline-block;
      padding: 0 4px 0 8px;
      font-size: 16px;
      font-weight: 700;
      color: #000;
    }
  }

  .review-more {
    display: inline-block;
    height: 12px;
    padding: 0 0 4px 4px;
    margin: 30px 0;
    line-height: 1;
    font-size: 12px;
    border-bottom: 1px solid $b-grey;
  }

  .next-arrow {
    padding: 0 4px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    @include bgsize(contain);
    width: 34px;
    height: 34px;
    background: no-repeat center;

    &::after {
      display: none;
    }
  }

  .swiper-button-prev {
    background-image: url("../images/main/prev-long.svg");
  }

  .swiper-button-next {
    background-image: url("../images/main/next-long.svg");
  }
}

#cnt_now_event {
  margin-left: 0;
  margin-bottom: $f50;

  h2 {
    position: relative;
    width: 17.5vw;
    margin: 0 auto 30px;

    &::before {
      @include bg-g(90deg, #fff, $l-violet);
      content: "";
      position: absolute;
      top: 30px;
      left: -$f16;
      width: 94.44444444444444vw;
      height: 47.22222222222222vw;
      z-index: -10;
    }
  }

  .swiper-container {
    padding-bottom: $f30;

    .swiper-slide {
      width: 94.44444444444444vw;
      height: 47.22222222222222vw;

      a {
        @include bgsize(cover);
        @include b-radius(0 20px 20px 0);
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
      }

      p {
        position: absolute;
        bottom: 10%;
        left: 12%;
        line-height: 1.2;
        font-size: $f20;
        color: #fff;
        text-shadow: 0 0 4px #000;
      }

      &.event1 a {
        background-image: url("../images/main/s-event1.png");

        span {
          display: inline-block;
          font-weight: 300;
          font-size: $f16;
        }
      }

      &.event2 a {
        background-image: url("../images/main/s-event2.png");
      }

      &.event3 a {
        background-image: url("../images/main/s-event3.png");

        span {
          font-size: $f20;
        }

        p {
          font-size: $f16;
          font-weight: 300;
        }
      }
    }

    .swiper-pagination {
      position: absolute;
      right: $f20;
      bottom: $f6;
      height: 7.777777777777778vw;

      .swiper-pagination-bullet {
        @include b-radius(50%);
        opacity: 1;
        width: $f10;
        height: $f10;
        margin: $f4;
        background: $l-violet;
      }

      .swiper-pagination-bullet-active {
        @include b-radius($f20);
        @include t-sition (width 0.3s);
        width: $f25;
        height: $f10;
        background: $violet;
      }
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      display: none;
    }

    .swiper-button-prev,
    .swiper-button-next {
      @include bgsize(contain);
      top: 50%;
      width: 34px;
      height: 34px;
      background: no-repeat center;
    }

    .swiper-button-prev {
      background-image: url("../images/main/tall-prev.svg");
    }

    .swiper-button-next {
      background-image: url("../images/main/tall-next.svg");
    }
  }
}

#cnt_social {

  ul {
    &::after {
      content: "";
      display: block;
      clear: both;
    }

    li {
      position: relative;
      float: left;
      width: $f100;
      height: $f100;

      +li {
        margin-left: $f4;
      }

      &:nth-of-type(4) {
        margin-left: 0;
      }

      &:nth-of-type(n+4) {
        margin-top: $f4;
      }

      &::after {
        @include b-radius($f20);
        @include bg-g(180deg, rgba(137, 114, 157, 0.8), rgba(63, 63, 63, 0.8));
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: $f100;
        height: $f100;
      }

      &:nth-of-type(1)::after,
      &:nth-of-type(6)::after {
        @include b-radius($f5);
      }


      a {
        display: block;
        width: 100%;
        height: 100%;
      }

      a::before {
        @include b-radius($f20);
        content: "";
        position: absolute;
        left: $f4;
        top: $f4;
        width: $f90;
        height: $f90;
        border: $f1 solid #fff;
        z-index: 100;
      }

      &:nth-of-type(1),
      &:nth-of-type(6) {
        img {
          @include b-radius($f5);
        }

        a::before {
          @include b-radius($f4);
        }
      }

      a::after {
        @include bgsize(contain);
        @include t-form(translate(-50%, -50%));
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: $f30;
        height: $f30;
        background: no-repeat center;
        z-index: 10;
      }

      &:nth-child(1) a::after {
        background-image: url("../images/main/naver.svg");
      }

      &:nth-child(2) a::after {
        background-image: url("../images/main/instagram.svg");
      }

      &:nth-child(3) a::after {
        background-image: url("../images/main/facebook.svg");
      }

      &:nth-child(4) a::after {
        background-image: url("../images/main/youtube.svg");
      }

      &:nth-child(5) a::after {
        background-image: url("../images/main/kakaotalk.svg");
      }

      &:nth-child(6) a::after {
        content: "공지사항";
        display: block;
        width: $f31;
        height: auto;
        font-size: $f16;
        color: #fff;
      }

      img {
        @include b-radius($f20);
        width: 100%;
        height: 100%;
      }
    }
  }
}

#footer {
  @include b-box;
  @include bg-g(180deg, $l-grey, $l-violet);
  @include b-radius(10px 10px 0 0);
  width: 100%;
  height: 150px;
  padding: 24px 20px;
  line-height: 1.8;
  font-family: coreD;
  font-size: 12px;
  font-weight: 300;

  ul {
    width: 100%;

    li {
      position: relative;
      float: left;
      font-size: 12px;
      font-weight: 400;
      text-align: center;
      color: $violet;

      +li {
        margin-left: 8px;

        &::after {
          @include t-form(translateY(-50%));
          content: "";
          position: absolute;
          left: -4px;
          top: 50%;
          width: 1px;
          height: 8px;
          background: $violet;
        }
      }
    }
  }

  address {
    display: block;
    clear: both;
    line-height: 1.2;

    span {
      display: block;
      line-height: 2.6;
      font-size: 10px;
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 2dppx),
screen and (min-resolution: 192dpi) {
  .intro1 {
    background-image: url("../images/main/poster1x2.jpg");
  }

  .intro2 {
    background-image: url("../images/main/poster2x2.jpg");
  }

  .intro3 {
    background-image: url("../images/main/poster3x2.jpg");
  }

  #controller .play_stop {
    background-image: url("../images/main/btn_cirx2.png");
  }

  .event1 a {
    background-image: url("../images/main/s-event1x2.png");
  }

  .event2 a {
    background-image: url("../images/main/s-event2x2.png");
  }

  .event3 a {
    background-image: url("../images/main/s-event3x2.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min-resolution: 3dppx),
screen and (min-resolution: 288dpi) {
  .intro1 {
    background-image: url("../images/main/poster1x3.jpg");
  }

  .intro2 {
    background-image: url("../images/main/poster2x3.jpg");
  }

  .intro3 {
    background-image: url("../images/main/poster3x3.jpg");
  }

  #controller .play_stop {
    background-image: url("../images/main/btn_cirx3.png");
  }

  .event1 a {
    background-image: url("../images/main/s-event1x3.png");
  }

  .event2 a {
    background-image: url("../images/main/s-event2x3.png");
  }

  .event3 a {
    background-image: url("../images/main/s-event3x3.png");
  }
}