article {
  margin: 90px 20px 85px; }

#cnt_main {
  margin: 0; }
  #cnt_main .swiper-container {
    width: 100vw;
    height: 100vh; }
    #cnt_main .swiper-container .swiper-slide {
      position: relative;
      background: no-repeat top center;
      background-size: cover; }
      #cnt_main .swiper-container .swiper-slide .info {
        position: absolute; }
        #cnt_main .swiper-container .swiper-slide .info span {
          position: relative;
          display: inline-block;
          width: 70vw;
          height: 15.55555555555556vw;
          line-height: 15.55555555555556vw;
          padding: 1.6666666667vw 0;
          font-family: coreD;
          font-size: 13.8888888889vw; }
        #cnt_main .swiper-container .swiper-slide .info span::after {
          content: "";
          position: absolute;
          bottom: 0;
          width: 39vw;
          height: 0.2777777778vw;
          background: #544542; }
        #cnt_main .swiper-container .swiper-slide .info p {
          width: 70vw;
          height: 28.33333333333333vw;
          padding: 2.7777777778vw 0;
          font-size: 5.5555555556vw; }
    #cnt_main .swiper-container #controller .swiper-pagination-bullet {
      margin: 0 0.5555555556vw;
      width: 2.2222222222vw;
      height: 2.2222222222vw;
      background: #BEABCA;
      border: 0.5555555556vw solid #fff;
      opacity: 1; }
    #cnt_main .swiper-container #controller .swiper-pagination-bullet-active {
      width: 3.333333333333333vw;
      height: 3.333333333333333vw;
      background: #735587; }
    #cnt_main .swiper-container #controller .play_stop {
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-background-size: cover !important;
      background-size: cover !important;
      position: absolute;
      top: 50%;
      left: -33.3333333333vw;
      width: 50.2777777778vw;
      height: 50.2777777778vw;
      max-width: 3 13.8888888889vw;
      max-height: 3 13.8888888889vw;
      background: url("../images/main/btn_cir.png") no-repeat center;
      z-index: 1000; }
      #cnt_main .swiper-container #controller .play_stop img {
        width: 3.8888888889vw;
        height: 6.9444444444vw;
        max-width: 25.2px;
        max-height: 45px;
        padding-left: 27.7777777778vw; }
    #cnt_main .swiper-container.top .intro1 {
      background-image: url("../images/main/poster1.jpg"); }
      #cnt_main .swiper-container.top .intro1 img {
        width: 100vw; }
      #cnt_main .swiper-container.top .intro1 .info {
        top: 17.77777777777778vw;
        left: 10vw; }
        #cnt_main .swiper-container.top .intro1 .info span {
          left: 2.2222222222vw; }
        #cnt_main .swiper-container.top .intro1 .info span::after {
          left: 1.6666666667vw; }
    #cnt_main .swiper-container.top #controller .swiper-pagination {
      top: 27.77777777777779vw;
      left: 39vw; }
    #cnt_main .swiper-container.mid .intro2 {
      background-image: url("../images/main/poster2.jpg"); }
      #cnt_main .swiper-container.mid .intro2 img {
        position: absolute;
        top: 22%;
        left: 0; }
      #cnt_main .swiper-container.mid .intro2 .info {
        top: 55vw;
        right: 10vw;
        text-align: right; }
        #cnt_main .swiper-container.mid .intro2 .info span {
          right: 2.2222222222vw; }
        #cnt_main .swiper-container.mid .intro2 .info span::after {
          right: 1.6666666667vw; }
    #cnt_main .swiper-container.mid #controller .swiper-pagination {
      top: 65.00000000000001vw;
      right: 39vw; }
    #cnt_main .swiper-container.btm .intro3 {
      background-image: url("../images/main/poster3.jpg"); }
      #cnt_main .swiper-container.btm .intro3 img {
        position: absolute;
        bottom: 0;
        left: 0; }
      #cnt_main .swiper-container.btm .intro3 .info {
        bottom: 10vw;
        left: 10vw; }
        #cnt_main .swiper-container.btm .intro3 .info span {
          left: 2.2222222222vw; }
        #cnt_main .swiper-container.btm .intro3 .info span::after {
          left: 1.6666666667vw; }
    #cnt_main .swiper-container.btm #controller .swiper-pagination {
      bottom: 45vw;
      left: 39vw; }
  #cnt_main #toolbar {
    position: fixed;
    bottom: 3%;
    right: 6%;
    z-index: 900; }
    #cnt_main #toolbar li {
      -webkit-border-radius: 50%;
      border-radius: 50%;
      position: relative;
      display: block;
      width: 16.6666666667vw;
      height: 16.6666666667vw;
      max-width: 100px;
      max-height: 100px;
      text-align: center;
      border: 0.5555555556vw solid; }
      #cnt_main #toolbar li:nth-child(1) {
        background: #FFD2C1;
        border-color: #fff; }
      #cnt_main #toolbar li:nth-child(2) {
        background: #fff;
        border-color: #FFD2C1; }
      #cnt_main #toolbar li::after {
        -webkit-background-size: contain !important;
        background-size: contain !important;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        content: "";
        opacity: 0.5;
        position: absolute;
        width: 80%;
        height: 80%;
        top: 50%;
        left: 50%;
        z-index: 10; }
      #cnt_main #toolbar li:nth-of-type(1)::after {
        background: url("../images/main/i-how.png") no-repeat center; }
      #cnt_main #toolbar li:nth-of-type(2)::after {
        background: url("../images/main/i-reserve.png") no-repeat center; }
      #cnt_main #toolbar li a {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        display: block;
        position: relative;
        top: 50%;
        font-family: coreD;
        font-size: 3.8888888889vw;
        line-height: 5vw;
        text-align: center;
        font-weight: 500;
        color: #544542;
        z-index: 20; }

#cnt_company {
  height: 300px; }
  #cnt_company p .talk:nth-child(4) {
    margin-left: 6.6666666667vw; }
  #cnt_company p .quotation {
    position: relative;
    display: inline-block;
    font-family: HDline;
    font-size: 10vw;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 2.2222222222vw; }
    #cnt_company p .quotation::before {
      background: #FFD2C1;
      background: -webkit-linear-gradient(90deg, #FFD2C1, #BEABCA);
      background: -o-linear-gradient(90deg, #FFD2C1, #BEABCA);
      background: linear-gradient(90deg, #FFD2C1, #BEABCA);
      content: "";
      position: absolute;
      width: 60vw;
      height: 11.1111111111vw;
      z-index: -1;
      opacity: 0.8; }
    #cnt_company p .quotation:nth-child(5)::before {
      left: 4.4444444444vw;
      margin-left: -52vw;
      width: 68vw; }
  #cnt_company ul {
    display: block;
    clear: both;
    margin: 30px auto 0;
    width: 87.77777777777778vw; }
    #cnt_company ul li {
      float: left;
      margin: 2px; }
      #cnt_company ul li a {
        -webkit-border-radius: 4.4444444444vw;
        border-radius: 4.4444444444vw;
        -webkit-background-size: cover !important;
        background-size: cover !important;
        display: inline-block;
        width: 41.66666666666667vw;
        height: 27.7777777778vw;
        background: no-repeat center;
        border: 0.5555555556vw solid #BEABCA;
        font-family: coreD;
        font-size: 5.5555555556vw;
        line-height: 27.7777777778vw;
        text-align: center;
        font-weight: 900;
        color: #000;
        text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff; }
      #cnt_company ul li:nth-child(1) a {
        background-image: url("../images/main/menu_btn_w.jpg"); }
      #cnt_company ul li:nth-child(2) a {
        background-image: url("../images/main/menu_btn_h.jpg"); }
      #cnt_company ul li:nth-child(3) a {
        background-image: url("../images/main/menu_btn_x.jpg"); }
      #cnt_company ul li:nth-child(4) a {
        background-image: url("../images/main/menu_btn_j.jpg"); }

#cnt_best-review h2 {
  width: 21.38888888888889vw; }

#cnt_now_event {
  margin-left: 0;
  margin-bottom: 13.8888888889vw; }
  #cnt_now_event h2 {
    position: relative;
    width: 17.5vw;
    padding-left: 20px; }
    #cnt_now_event h2::before {
      background: #FFD2C1;
      background: -webkit-linear-gradient(135deg, #FFD2C1, #BEABCA);
      background: -o-linear-gradient(135deg, #FFD2C1, #BEABCA);
      background: linear-gradient(135deg, #FFD2C1, #BEABCA);
      -webkit-border-radius: 11.1111111111vw;
      border-radius: 11.1111111111vw;
      content: "";
      position: absolute;
      z-index: -10;
      top: -7px;
      left: -1 4.4444444444vw;
      width: 94.44444444444444vw;
      height: 47.22222222222222vw; }
  #cnt_now_event .swiper-container {
    padding-bottom: 8.3333333333vw; }
    #cnt_now_event .swiper-container .swiper-slide {
      width: 94.44444444444444vw;
      height: 47.22222222222222vw; }
      #cnt_now_event .swiper-container .swiper-slide a {
        -webkit-background-size: cover !important;
        background-size: cover !important;
        -webkit-border-radius: 0 11.1111111111vw 11.1111111111vw 0;
        border-radius: 0 11.1111111111vw 11.1111111111vw 0;
        display: block;
        width: 100%;
        height: 100%;
        position: relative; }
      #cnt_now_event .swiper-container .swiper-slide p {
        position: absolute;
        bottom: 10%;
        left: 12%;
        line-height: 1.2;
        font-size: 5.5555555556vw;
        color: #fff;
        text-shadow: 0 0 4px #000; }
      #cnt_now_event .swiper-container .swiper-slide.event1 a {
        background-image: url("../images/main/s-event1.png"); }
        #cnt_now_event .swiper-container .swiper-slide.event1 a span {
          display: inline-block;
          font-weight: 300;
          font-size: 4.4444444444vw; }
      #cnt_now_event .swiper-container .swiper-slide.event2 a {
        background-image: url("../images/main/s-event2.png"); }
      #cnt_now_event .swiper-container .swiper-slide.event3 a {
        background-image: url("../images/main/s-event3.png"); }
        #cnt_now_event .swiper-container .swiper-slide.event3 a span {
          font-size: 5.5555555556vw; }
        #cnt_now_event .swiper-container .swiper-slide.event3 a p {
          font-size: 4.4444444444vw;
          font-weight: 300; }
    #cnt_now_event .swiper-container .swiper-pagination {
      position: absolute;
      right: 5.5555555556vw;
      bottom: -1.666666666666667vw;
      height: 7.777777777777778vw; }
      #cnt_now_event .swiper-container .swiper-pagination .swiper-pagination-bullet {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        width: 2.7777777778vw;
        height: 2.7777777778vw;
        margin: 0.8333333333333333vw;
        background: #BEABCA;
        opacity: 1; }
      #cnt_now_event .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
        -webkit-border-radius: 5.5555555556vw;
        border-radius: 5.5555555556vw;
        -webkit-transition: width 0.3s;
        -moz-transition: width 0.3s;
        -o-transition: width 0.3s;
        transition: width 0.3s;
        width: 6.944444444444444vw;
        height: 27.7777777778vw;
        background: #735587; }
    #cnt_now_event .swiper-container .swiper-button-next::after, #cnt_now_event .swiper-container .swiper-button-prev::after {
      display: none; }
    #cnt_now_event .swiper-container .swiper-button-prev, #cnt_now_event .swiper-container .swiper-button-next {
      top: calc(50% - 8px); }
    #cnt_now_event .swiper-container .swiper-button-prev {
      background-image: url("../images/main/i-prev.png"); }
    #cnt_now_event .swiper-container .swiper-button-next {
      background-image: url("../images/main/i-next.png"); }

#cnt_social > p {
  font-weight: 300;
  font-size: 4.4444444444vw;
  margin-bottom: 5vw; }
#cnt_social ul {
  margin: 0 auto;
  width: 88.88888888888889vw; }
  #cnt_social ul::after {
    content: "";
    clear: both;
    display: block; }
  #cnt_social ul li {
    float: left;
    width: 27.7777777778vw;
    height: 27.7777777778vw; }
    #cnt_social ul li + li {
      margin-left: 1.1111111111vw; }
    #cnt_social ul li:nth-of-type(4) {
      margin-left: 0; }
    #cnt_social ul li:nth-of-type(n+4) {
      margin-top: 1.1111111111vw; }
    #cnt_social ul li a {
      position: relative; }
      #cnt_social ul li a::before {
        -webkit-border-radius: 5.5555555556vw;
        border-radius: 5.5555555556vw;
        content: "";
        position: absolute;
        width: 90vw;
        height: 90vw;
        border: 0.2777777778vw solid #fff; }
      #cnt_social ul li a::after {
        content: "";
        position: absolute; }
    #cnt_social ul li img {
      -webkit-border-radius: 5.5555555556vw;
      border-radius: 5.5555555556vw;
      width: 100%;
      height: 100%; }
      #cnt_social ul li img::after {
        content: "";
        position: absolute; }
    #cnt_social ul li:nth-of-type(1) img, #cnt_social ul li:nth-of-type(6) img {
      -webkit-border-radius: 1.3888888889vw;
      border-radius: 1.3888888889vw; }

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx), screen and (min-resolution: 192dpi) {
  .intro1 {
    background-image: url("../images/main/poster1x2.jpg"); }

  .intro2 {
    background-image: url("../images/main/poster2x2.jpg"); }

  .intro3 {
    background-image: url("../images/main/poster3x2.jpg"); }

  #controller .play_stop {
    background-image: url("../images/main/btn_cirx2.png"); }

  .event1 a {
    background-image: url("../images/main/s-event1x2.png"); }

  .event2 a {
    background-image: url("../images/main/s-event2x2.png"); }

  .event3 a {
    background-image: url("../images/main/s-event3x2.png"); } }
@media screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 3dppx), screen and (min-resolution: 288dpi) {
  .intro1 {
    background-image: url("../images/main/poster1x3.jpg"); }

  .intro2 {
    background-image: url("../images/main/poster2x3.jpg"); }

  .intro3 {
    background-image: url("../images/main/poster3x3.jpg"); }

  #controller .play_stop {
    background-image: url("../images/main/btn_cirx3.png"); }

  .event1 a {
    background-image: url("../images/main/s-event1x3.png"); }

  .event2 a {
    background-image: url("../images/main/s-event2x3.png"); }

  .event3 a {
    background-image: url("../images/main/s-event3x3.png"); } }

/*# sourceMappingURL=main.css.map */
